# Created by .ignore support plugin (hsz.mobi)
.gradle
build/
/buildSrc/build/
gradle-app.setting
!gradle-wrapper.jar
.DS_Store
out/
/.idea
/*.iml
/.autotest.failgood
/.vscode
.autotest.failgood
junit-platform.properties
