# Created by .ignore support plugin (hsz.mobi)
.gradle
.kotlin
build/
/buildSrc/build/
gradle-app.setting
!gradle-wrapper.jar
.DS_Store
out/
/.idea
/.fleet
/*.iml
/.autotest.failgood
/.vscode
.failgood.autotest.timestamp
junit-platform.properties
failgood.debug*

.claude/
