name: CI

on: [push, pull_request]

jobs:
  build:
    name: test-on-${{matrix.java}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [1.8, 14]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle
        env:
          CI: true
        run: |
          ./gradlew build
      - name: Test Report ${{matrix.java}}
        uses: ScaCap/action-surefire-report@v1.0.5
        with:
          check_name: Test Report ${{matrix.java}}
          report_paths: '**/build/test-results/test/TEST-*.xml'
          fail_on_test_failures: true
          fail_if_no_tests: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
